<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="de.morannon.e4JPA.client.rcp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="false">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/de.morannon.e4JPA.client.rcp/css/default.css">
         </property>
         <property
               name="appName"
               value="de.morannon.e4JPA.client.rcp">
         </property>
      </product>
   </extension>

</plugin>
